@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
* {
	margin: 1rem 0rem;
	padding: 0;
	font-family: 'Fira Code', monospace;
	background: black;
}

.title {
	text-align: center;
	font-size: 3rem;
	color: rgba(255, 255, 255, 0.75);
}

form {
	color: rgba(255, 255, 255, 0.75);
	margin-top: 2rem;
	text-align: center;
	line-height: 3rem;
	font-size: 1.5rem;
}

textarea {
	width: 75vw;
	height: 50vh;
	color: rgba(255, 255, 255, 0.75);
	font-size: 1rem;
	margin: 0 2rem;
	padding: 1rem;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}